# Data Analysis (Spark)

In [1]:
# Import Spark
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Program Files\\spark'

In [2]:
# Start Spark Session
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('Spark App').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [42]:
# Connect to MySQL
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="mysql"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D82CBD1D30>

In [43]:
# List Databases
mycursor = mydb.cursor()
mycursor.execute("show databases")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('cdacnoida',)
('classwork',)
('exercise',)
('healthcare_system',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('project',)
('sakila',)
('sys',)
('vitawa_sevakendra',)
('world',)

In [44]:
# Establish connection to database
import mysql
import mysql.connector
connection=mysql.connector.Connect(host='localhost',database='healthcare_system',user='root',password='mysql')
if connection.is_connected():
    db_info = connection.get_server_info()
    print("Connection successfully established to",db_info)
else:
    print("Connection Failed")

Connection successfully established to 8.0.28

In [45]:
cursor=connection.cursor()
cursor.execute("select database();")
record=cursor.fetchone()
print("You are connected to",record)

You are connected to ('healthcare_system',)

In [46]:
# List Tables
cursor=connection.cursor()
cursor.execute("Show Tables;")
record=cursor.fetchall()
for x in record:
    print(x)

('claims',)
('disease',)
('grp_subgrp',)
('grps',)
('hospital',)
('patient',)
('subgroup',)
('subscriber',)

In [47]:
# Import sql functions
from pyspark.sql.functions import *

In [48]:
# Describe the disease table
df=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/disease.csv",sep=";",inferSchema=True,header=True)
df.createOrReplaceTempView("disease")
spark.sql("desc disease").show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|   subgrp_id|   string|   null|
|  disease_id|      int|   null|
|disease_name|   string|   null|
+------------+---------+-------+

In [49]:
# Describe the groups table
df1=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/groups.csv",sep=";",inferSchema=True,header=True)
df1.createOrReplaceTempView("groups")
spark.sql("desc groups").show()

+--------------+---------+-------+
|      col_name|data_type|comment|
+--------------+---------+-------+
|       country|   string|   null|
|premium_return|      int|   null|
|       pincode|      int|   null|
|        grp_id|   string|   null|
|      grp_name|   string|   null|
|      grp_type|   string|   null|
|          city|   string|   null|
|      year_est|      int|   null|
|        grp_sk|   string|   null|
+--------------+---------+-------+

In [50]:
# Describe the grp_subgrp table
df2=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/group_subgroup.csv",sep=";",inferSchema=True,header=True)
df2.createOrReplaceTempView("grp_subgrp")
spark.sql("desc grp_subgrp").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|    s_id|   string|   null|
|    g_id|   string|   null|
+--------+---------+-------+

In [52]:
# Describe the subscriber table
df3=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/subscriber.csv",sep=";",inferSchema=True,header=True)
df3.createOrReplaceTempView("subscriber")
spark.sql("desc subscriber").show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|     s_key|      int|   null|
|    sub_id|   string|   null|
|first_name|   string|   null|
| last_name|   string|   null|
|    street|   string|   null|
|birth_date|timestamp|   null|
|    gender|   string|   null|
|     phone|   string|   null|
|   country|   string|   null|
|      city|   string|   null|
|   pincode|      int|   null|
| subgrp_id|   string|   null|
|  elig_ind|   string|   null|
|    e_date|timestamp|   null|
|    t_date|timestamp|   null|
+----------+---------+-------+

In [53]:
# Describe the hospital table
df4=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/hospital.csv",sep=";",inferSchema=True,header=True)
df4.createOrReplaceTempView("hospital")
spark.sql("desc hospital").show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  hospital_id|   string|   null|
|hospital_name|   string|   null|
|         city|   string|   null|
|        state|   string|   null|
|      country|   string|   null|
+-------------+---------+-------+

In [54]:
# Describe the patient table
df5=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/patient.csv",sep=",",inferSchema=True,header=True)
df5.createOrReplaceTempView("patient")
spark.sql("desc patient").show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|  patient_id|      int|   null|
|patient_name|   string|   null|
|      gender|   string|   null|
|  birth_date|timestamp|   null|
|       phone|   string|   null|
|disease_name|   string|   null|
|        city|   string|   null|
| hospital_id|   string|   null|
+------------+---------+-------+

In [55]:
# Describe the subgroup table
df6=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/subgroup.csv",sep=";",inferSchema=True,header=True)
df6.createOrReplaceTempView("subgroup")
spark.sql("desc subgroup").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|      subgrp_id|   string|   null|
|    subgrp_name|   string|   null|
|monthly_premium|      int|   null|
|      subgrp_sk|   string|   null|
+---------------+---------+-------+

In [56]:
# Describe the claims table
df7=spark.read.csv("C:/Users/shard/OneDrive/CDAC/Project/OurWork/claims.csv",sep=";",inferSchema=True,header=True)
df7.createOrReplaceTempView("claims")
spark.sql("desc claims").show()

+--------------+---------+-------+
|      col_name|data_type|comment|
+--------------+---------+-------+
|      claim_id|      int|   null|
|    patient_id|      int|   null|
|  disease_name|   string|   null|
|        sub_id|   string|   null|
|claimed_or_rej|   string|   null|
|    claim_type|   string|   null|
|  claim_amount|      int|   null|
|    claim_date|timestamp|   null|
+--------------+---------+-------+

In [17]:
# Which disease having maximum number of claims.
results = spark.sql("select disease_name, count(claim_id) as max from claims group by disease_name order by max desc")
results.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query1.csv')
results.show(10)

+---------------+---+
|   disease_name|max|
+---------------+---+
|       Glaucoma|  3|
|   Head banging|  3|
|        Anthrax|  3|
|   Galactosemia|  3|
|    Pet allergy|  3|
|Phenylketonuria|  3|
|         Stroke|  2|
|       Diabetes|  2|
| Bladder cancer|  2|
|Fanconi anaemia|  2|
+---------------+---+
only showing top 10 rows

In [63]:
# Find those Subscribers having age less than 30 and they subscribe any subgroup
subscriber_ages = spark.sql("select birth_date,current_date() as CurrentDate,\
          year(current_date())-year(birth_date) as age from subscriber")
subscriber_ages.sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query2.csv')
subscriber_ages.show()

+-------------------+-----------+---+
|         birth_date|CurrentDate|age|
+-------------------+-----------+---+
|1924-06-30 00:00:00| 2022-09-23| 98|
|1948-12-20 00:00:00| 2022-09-23| 74|
|1980-04-16 00:00:00| 2022-09-23| 42|
|1969-09-25 00:00:00| 2022-09-23| 53|
|1946-05-01 00:00:00| 2022-09-23| 76|
|1967-10-02 00:00:00| 2022-09-23| 55|
|1925-03-05 00:00:00| 2022-09-23| 97|
|1945-05-06 00:00:00| 2022-09-23| 77|
|1925-06-12 00:00:00| 2022-09-23| 97|
|1955-01-22 00:00:00| 2022-09-23| 67|
|1964-04-29 00:00:00| 2022-09-23| 58|
|1991-11-11 00:00:00| 2022-09-23| 31|
|1981-01-25 00:00:00| 2022-09-23| 41|
|1966-07-24 00:00:00| 2022-09-23| 56|
|1933-11-20 00:00:00| 2022-09-23| 89|
|1996-10-15 00:00:00| 2022-09-23| 26|
|1935-09-16 00:00:00| 2022-09-23| 87|
|1924-11-09 00:00:00| 2022-09-23| 98|
|1923-09-15 00:00:00| 2022-09-23| 99|
|1920-11-13 00:00:00| 2022-09-23|102|
+-------------------+-----------+---+
only showing top 20 rows

In [33]:
res = subscriber_ages.filter(subscriber_ages.age < 30).count()
print("Subscribers having age less than 30 --> ",res)

Subscribers having age less than 30 -->  4

In [22]:
# Find out which group has maximum subgroups.
sparkdf = spark.sql("select g_id,count(s_id) as max from grp_subgrp group by g_id order by max desc")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query3.csv')
sparkdf.show()

+------+---+
|  g_id|max|
+------+---+
|GRP143|  2|
|GRP147|  2|
|GRP104|  2|
|GRP105|  1|
|GRP108|  1|
|GRP131|  1|
|GRP102|  1|
|GRP103|  1|
|GRP112|  1|
|GRP101|  1|
|GRP123|  1|
|GRP114|  1|
|GRP127|  1|
|GRP133|  1|
|GRP122|  1|
|GRP138|  1|
|GRP148|  1|
|GRP142|  1|
|GRP157|  1|
|GRP126|  1|
+------+---+
only showing top 20 rows

In [23]:
# Find out hospital which serve most number of patients
sparkdf = spark.sql("select hospital_name,count(patient_id) as total_patient \
          from hospital join patient on hospital.hospital_id=patient.hospital_id \
          group by hospital_name order by total_patient desc")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query4.csv')
sparkdf.show()

+--------------------+-------------+
|       hospital_name|total_patient|
+--------------------+-------------+
|   Manipal Hospitals|            9|
|Apollo Hospitals ...|            8|
|Medanta The Medicity|            7|
|Jaslok Hospital a...|            6|
|Indraprastha Apol...|            5|
|Fortis Hospital M...|            4|
|PGIMER - Postgrad...|            4|
|Apollo Hospital -...|            4|
|Bombay Hospital &...|            3|
|Yashoda Hospital ...|            3|
|Apollo Health Cit...|            3|
|King Edward Memor...|            3|
|Lilavati Hospital...|            2|
|The Christian Med...|            2|
|Fortis Hiranandan...|            2|
|Fortis Flt. Lt. R...|            1|
|P. D. Hinduja Nat...|            1|
|Sir Ganga Ram Hos...|            1|
|All India Institu...|            1|
|Breach Candy Hosp...|            1|
+--------------------+-------------+

In [24]:
# Find out which subgroups subscribe most number of times
sparkdf = spark.sql("select subgrp_name, \
          count(sub_id) as cunt from subgroup join \
          subscriber on subgroup.subgrp_id = subscriber.subgrp_id  group by subgrp_name order by cunt desc")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query5.csv')
sparkdf.show()

+-------------------+----+
|        subgrp_name|cunt|
+-------------------+----+
|            Therapy|  14|
|              Viral|  11|
|Deficiency Diseases|  11|
|         Hereditary|  11|
|          Allergies|  10|
|         Physiology|  10|
|           Accident|  10|
|             Cancer|   9|
|     Self inflicted|   7|
| Infectious disease|   7|
+-------------------+----+

In [25]:
# Find out total number of claims which were rejected
sparkdf = spark.sql("select claimed_or_rej,count(claim_id) from claims group by claimed_or_rej")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query6.csv')
sparkdf.show()

+--------------+---------------+
|claimed_or_rej|count(claim_id)|
+--------------+---------------+
|             Y|             18|
|             N|             52|
+--------------+---------------+

In [26]:
# From where most claims are comming (city)
sparkdf = spark.sql("select patient.city,count(claim_id) as maxclaim from patient join claims on \
          claims.patient_id = patient.patient_id group by patient.city order by maxclaim desc limit 10")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query7.csv')
sparkdf.show()

+------------+--------+
|        city|maxclaim|
+------------+--------+
|      Mysore|       2|
|    Amravati|       2|
|   Kamarhati|       2|
|    Jabalpur|       2|
|Bihar Sharif|       2|
|   Ghaziabad|       2|
|       Morbi|       2|
|  Karimnagar|       2|
|   Bangalore|       1|
|     Udaipur|       1|
+------------+--------+

In [27]:
# Which groups of policies subscriber subscribe mostly Goverment or private
sparkdf = spark.sql("select grp_type,count(grp_id) from groups group by grp_type")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query8.csv')
sparkdf.show()

+--------+-------------+
|grp_type|count(grp_id)|
+--------+-------------+
|   Govt.|            7|
| Private|           51|
+--------+-------------+

In [28]:
res = spark.sql("select grp_subgrp.g_id from subscriber \
          join grp_subgrp on grp_subgrp.s_id = subscriber.subgrp_id")

res.registerTempTable("grp_tble")

sparkdf = spark.sql("select grp_type,count(grp_tble.g_id) from groups \
          join grp_tble on groups.grp_id = grp_tble.g_id group by grp_type")

sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query9.csv')

sparkdf.show()

C:\Program Files\spark\python\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+--------+-----------+
|grp_type|count(g_id)|
+--------+-----------+
|   Govt.|         35|
| Private|        347|
+--------+-----------+

In [29]:
# Average monthly premium subscriber pay to insurance company subgroup.
sparkdf = spark.sql("select subgroup.subgrp_id,avg(monthly_premium) from subscriber right join \
          subgroup on subscriber.subgrp_id = subgroup.subgrp_id group by \
          subgroup.subgrp_id order by subgroup.subgrp_id")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query10.csv')
sparkdf.show()

+---------+--------------------+
|subgrp_id|avg(monthly_premium)|
+---------+--------------------+
|     S101|              3000.0|
|     S102|              1000.0|
|     S103|              2000.0|
|     S104|              1500.0|
|     S105|              2300.0|
|     S106|              1200.0|
|     S107|              3200.0|
|     S108|              1500.0|
|     S109|              2000.0|
|     S110|              1000.0|
+---------+--------------------+

In [30]:
# Find out Which group is most profitable
sparkdf = spark.sql("select grp_id,premium_return from groups order by premium_return desc")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query11.csv')
sparkdf.show()

+------+--------------+
|grp_id|premium_return|
+------+--------------+
|GRP147|         99000|
|GRP131|         99000|
|GRP123|         99000|
|GRP118|         97000|
|GRP154|         95000|
|GRP133|         93000|
|GRP157|         92000|
|GRP134|         90000|
|GRP143|         90000|
|GRP106|         89000|
|GRP129|         88000|
|GRP152|         87000|
|GRP153|         86000|
|GRP150|         84000|
|GRP124|         81000|
|GRP122|         79000|
|GRP115|         79000|
|GRP121|         78000|
|GRP109|         78000|
|GRP101|         72000|
+------+--------------+
only showing top 20 rows

In [31]:
# List all the patients below age of 18 who admit for cancer
sparkdf = spark.sql("select patient_id, patient_name,\
          year(current_date())-year(birth_date) as age from patient \
          where disease_name like '%cancer' order by age limit 2")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query12.csv')
sparkdf.show()

+----------+------------+---+
|patient_id|patient_name|age|
+----------+------------+---+
|    194166|          NA|  9|
|    197441|    Deependu| 18|
+----------+------------+---+

In [62]:
# List patients who have cashless insurance and have total charges greater than or equal for Rs. 50,000.
sparkdf = spark.sql("select patient_name, gender, birth_date \
          from patient join claims on patient.patient_id = claims.patient_id \
          where claim_amount >= 50000 and claim_type = 'claims of value'")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query13.csv')
sparkdf.show()

+------------+------+-------------------+
|patient_name|gender|         birth_date|
+------------+------+-------------------+
|      Harbir|Female|1960-02-24 00:00:00|
|     Ujjawal|  Male|1965-12-31 00:00:00|
|     Devnath|Female|1982-02-22 00:00:00|
|       Aakar|Female|1990-04-24 00:00:00|
|          NA|  Male|1955-06-03 00:00:00|
|  Dharmadaas|  Male|1964-10-25 00:00:00|
|          NA|Female|1953-04-04 00:00:00|
|     Bhagvan|Female|2011-02-26 00:00:00|
|          NA|Female|1959-01-06 00:00:00|
|       Umang|Female|2017-02-26 00:00:00|
|  Vaijayanti|  Male|1969-04-06 00:00:00|
|       Ekant|  Male|1969-11-01 00:00:00|
|      Gensho|  Male|1991-07-27 00:00:00|
|   Anjushree|  Male|1982-06-28 00:00:00|
|       Saroj|Female|1953-07-21 00:00:00|
|          NA|  Male|1956-04-04 00:00:00|
|  Chitranjan|Female|2020-10-27 00:00:00|
|          NA|  Male|2013-10-30 00:00:00|
|       Lalit|Female|1978-04-30 00:00:00|
|      Kishan|  Male|1955-06-30 00:00:00|
+------------+------+-------------------+

In [64]:
# List female patients over the age of 40 that have undergone knee surgery in the past year
sparkdf = spark.sql("select patient_name from patient \
                    where gender = 'Female' and disease_name = 'Heart Attack'")
sparkdf.toPandas().to_csv('C:/Users/shard/OneDrive/CDAC/Project/OurWork/Spark/query14.csv')
sparkdf.show()

+------------+
|patient_name|
+------------+
|     Upasana|
+------------+

# Thankyou!